.card-container{
    width: 300px;
    height: 450px;
    background-color: rgb(241, 248, 246);
    border: 3px solid grey;
    border-radius: 8px;
    position: relative;
}

img{
    width: 80%;
    border: 3px solid grey;
    margin-top: 20px;
}

.card-information p{
    font-size: 23px;
    line-height: 16px;
    bottom: 0;
}

.cart-btn{
    width: 100%;
    font-size: 17px;
    color: white;
    background-color: #13b1a9;
    border: none;
    border-radius:0px 0px 8px 8px ;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-btn p{
    padding-right: 20px;
}

